.bash_history
build.sh
clean.sh
*.db
.DS_Store
.git
id_dsa
id_rsa
*.key
*.log
*.o
owned.txt
passwd
paused.conf
*.pyc
__pycache__
shadow
sshds.txt
*.swn
*.swo
*.swp
tags
.vim.session
.zhistory
.zsh_history
